body{
    font-family: Arial, Helvetica, sans-serif;
}


/* specialities */

.specialities .btn-secondary{
    border: none;
    background-color: #f0f2f5;
    color: #103178;
    font-family: Jost;
    font-size: 16px;
    font-weight: 700;
}
.specialities .btn-secondary:hover{
    color: #ff9923;
}
.specialities .center{
    border-left: 1px solid  #1031783b;
}
.specialities .right{
    border-left: 1px solid  #1031783b;
}


/* footer-section */
.footer{
    color: rgba(91,108,143,1);
}
.footer .logo img{
    width: 144px;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.footer .logo-para p{
    font-size: 15px;
    margin-bottom: 10px;
}
.footer .logo-para br{
    display: none;
}
.footer .map a{
    font-size: 13px;
    color: rgba(91,108,143,1);
}
.footer .social-links ul{
    padding-left: 0;
    list-style: none;
}
.footer .social-links li{
    float: left;
    margin-right: 10px;
}
.footer .social-links li a{
    text-decoration: none;
    font-size: 17px;
    color: rgba(91,108,143,1);
}
.footer .helpline{
    margin-top: 40px;
    height: 18%;
}
.footer .help h5{
    font-size: 18px;
    font-weight: 600;
    color: rgba(16,49,120,1);
}
.footer .info h3{
    margin-bottom: 5px;
    line-height: 36px;
    font-size: 24px;
    font-weight: 600;
    color: rgba(16,49,120,1);
}
.footer .info i{
    margin: 2px 15px 0 0;
    color: rgba(255,153,35,1);
}
footer .info p{
    margin-bottom: 18px;
    border-bottom: 1px solid #80808045;
    padding-bottom: 18px;
    padding-left: 40px;
}
.footer .mail-info i{
    color: rgba(16,49,120,1);
}
.footer .info a{
    color: rgba(16,49,120,1);
    font-size: 14px;
    text-decoration: none;
}
hr{
    display: none;
}
.footer .heading h5{
    color: rgba(16,49,120,1);
    font-size: 17px;
    font-weight: 600;
    margin: 40px 0 10px 0;
}
.footer .sub-heading ul{
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}
.footer .sub-heading li{
    padding: 5px 0;
}
.footer .sub-heading a{
    text-decoration: none;
    color: rgba(16,49,120,1);
    font-size: 15px;
    font-weight: 500;
}

/* ------------------------------------------------------------------------------------------
Contact Page
--------------------------------------------------------------------------------------------*/

/* Bread crumb */

#breadcrumb li{
    font-size: 14px;
} 
#breadcrumb a{
    text-decoration: none;
    color: #103178;
}

/* Location */

#location {
    font-family: jost;
}
#location .top h1{
    color: #103178;
    font-size: 50px;
    font-weight: 600;
}
#location h3{
    color: #103178;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0 15px;
}
#location li{
    font-weight: 400;
    color: #5b6c8f;
    list-style: none; 
    font-size: 14px; 
    line-height: 26px;  
}
#location p{
    border-bottom: 1px solid #5b6c8f1c;
    padding: 14px 0 35px;
    color: #5b6c8f;
    font-size: 16px;   
}
#location .btn{
    color: #103178;
    border: 1px solid #5b6c8f1c;
    border-radius: 60px;
    padding: 8px 20px;
    font-size: 18px;
    margin: 20px 0 35px;
}
#location .btn:hover{
    color: #fff;
    background-color: #ff9923;
    outline: none;
}
#location i{
    color: #5b6c8f;
    padding: 0 7px;
    font-size: 18px;
}
#location i:hover{
    color: #ff9923;
}
#location .btm{
    border-top: 1px solid #5b6c8f1c;
}



/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .footer{
        width: 95%;
    }
    .footer .logo-para br{
        display: block;
     }
    .footer .helpline{
        margin-top: 20px;
        border-left: 1px solid #80808045;
        padding-left: 40px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .footer{
        width: 96%;
    }
    .footer .logo img{
        margin-bottom: 30px;
    }
    .footer .logo-para p{
        margin-bottom: 8px;
    }
    .footer .social-links ul{
        margin-top: 15%;
        padding-bottom: 20%;
    }
    .footer .helpline{
        margin-top: 20px;
    }
    hr{
        display: block;
    }
}    

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .footer{
        width: 100%;
    }
    .footer .social-links ul{
        margin-top: 19%;
    }
    hr{
        display: none;
    }
    .footer .helpline{
        padding-left: 25px;
        margin-left: 25px;
    }
    .heading{
        margin-top: -15px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .footer .logo-para br{
        display: none;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}